@import "compass/reset";
@import "compass/css3";
@import "fonts";

body {
  background: url('/images/bkg_w.png');
}

p {
  font-family: "ProximaNovaRegular", sans-serif;
  font-size: 15px;
  color: #666;
}

a {
  color: #FF3333;
  text-decoration: none;
}

.wrap {
  width: 950px;
  margin: 0 auto 0 auto;
  text-align: left;
}

.top {
  text-align: center;
  padding: 40px 0px 36px 0px;
  background-color: #FFFFFF;

  .wrap {
    background: url('/images/home_computer.png');
    height: 424px;
  }

  .logo {
    font-family: 'FjordOne';
    color: #333;
    font-size: 19px;
    font-weight: normal;
    margin: 0;
    span {
      color: #FF3333;
      font-family: "ProximaNovaRegular", sans-serif;
      font-size: 11px;
      margin: 0 0 0 6px;
    }
  }
}

.text {
  width: 305px;
  top: 90px;
  position:relative;

  h1 {
    font-family: 'FjordOne';
    font-weight: normal;
    color: #333;
    font-size: 29px;
    margin: 0 0 20px 0;
    width: 296px;
  }
  h2 {
    font-family: "ProximaNovaRegular", sans-serif;
    font-weight: normal;
    color: #666;
    font-size: 15px;
    margin: 0 0 45px 0;
    width: 280px;
    line-height: 19px;
  }
  a.bigButton {
    display: block;
    width: 214px;
    height: 18px;
    padding: 15px 28px 14px 28px;
    background: url('/images/home_button.png');
    color: transparent;
    &:hover {
      background-position: 0 -47px;
    }

  }
}

.bottom {
  background: url('/images/bkg_w.png');
  border-top: 1px solid #CCC;
  text-align: center;
  padding: 53px 0 50px 0;

  .wrap {
    ul {
      li {
        vertical-align:top;
        display: inline-block;
        width: 280px;
        margin: 0 44px 0 0;

        &.first { margin: 0 58px 0 0; }
        &.last { margin: 0; }

        h3 {
          font-family: 'FjordOne';
          font-weight: normal;
          color: #333;
          font-size: 19px;
          margin: 0 0 20px 0;
          line-height: 21px;
        }
        p {
          font-family: "ProximaNovaRegular", sans-serif;
          font-weight: normal;
          color: #666;
          font-size: 15px;
          line-height: 21px;
        }
      }
    }
    .footer {
      border-top: 1px solid #CCC;
      margin: 50px 0 0 0;
      padding: 45px 37px 0 0;

      p {
        margin: 0;
        text-align:right;
        font-size: 13px;
      }
    }
  }
}


/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .wrap { width:auto; padding: 20px 30px;}
.top .wrap .text { top: 122px; }
  .bottom .wrap ul li { width:215px; margin:0 20px 0 0; }
  .bottom .wrap ul li.first { margin:0 30px 0 0; }
  .bottom .wrap .footer { margin: 40px 0 0 0; padding:40px 30px 0 0; } 
}
