<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <title>Sirope</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("feeds", "1");
    </script>

    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery.truncate.min.js" ></script>
    <script type="text/javascript" src="/javascripts/bootstrap-transition.js" ></script>
    <script type="text/javascript" src="/javascripts/bootstrap-modal.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery.mousewheel.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery.jscrollpane.min.js" ></script>
    <script type="text/javascript" src="/javascripts/spin.min.js" ></script>
    <script type="text/javascript" src="/javascripts/postcleaner.js" ></script>
    <script type="text/javascript" src="/javascripts/sessvars.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery.hotkeys.js" ></script>
    <script type="text/javascript" src="/javascripts/humane.js" ></script>
    <script type="text/javascript" src="/javascripts/tortita.js" ></script>
    <script type="text/javascript" src="/javascripts/leftColumn.js" ></script>
    <script type="text/javascript" src="/javascripts/nav.js" ></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29800155-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <div id="addFeed" class="modal hide fade">
      <div class="content">
        <div class="header">
          <h2>Add a new taste to your sirope</h2>
        </div>
        <div class="input">
          <input type="text" name="" placeholder="Source URL" />
          <span id="modalSpinner" class="spinner"></span>
        </div>
        <a href="#" class="btn"><span>Add feed</span></a>
      </div>
      <a href="#" class="close"></a>
      <div class="t"></div>
      <div class="b"></div>
    </div>

    <div class="header">
      <p>SIROPE<span></span></p>
      <div id="minispinner"></div>
    </div>
    <div class="article">
      <div class="title">
        <h1><a href="#" target="_blank">Why the nerds are so unpopular?</a></h1>
        <h2>Published in <a href="#" target="_blank"></a> <span class="date">2 days ago</span></h2>
      </div>
      <div class="menu">
        <a class="next" href="#">Keep as unread</a>
      </div>
      <div class="content">
        <!--Artcile content-->
      </div>
      <div class="menu">
        <a class="next" href="#">Keep as unread</a>
        <ul class="shareButtons">
          <li><a href="#" onclick="goToPermalink();" class="web">&nbsp;</a></li>
          <li><a href="#" onclick="shareOnFacebook();" class="facebook">&nbsp;</a></li>
          <li><a href="#" onclick="shareOnTwitter();" class="twitter">&nbsp;</a></li>
        </ul>
      </div>
    </div>
    <div class="sources_area"></div>
    <div class="sources">
      <div class="wrap">
        <div class="header">
          <h3>SOURCES</h3>
          <a href="#addFeed" data-toggle="modal">Add +</a>
        </div>
        <ul id="sources"></ul>
      </div>
    </div>
    <div id="spinner"></div>
    <div class="noUnread">
      <p class="title">No more unread items from this source.</p>
      <p>It’s time to select a different source or <a href="#" onClick="showAlreadyRead();">load already read items</a></p>
    </div>
    <div class="cursors_icon"></div>
  </body>
</html>
