<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Sirope</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link href="/stylesheets/style_h.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js" ></script>
    <script type="text/javascript" src="/javascripts/sessvars.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery.hotkeys.js" ></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29800155-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <div class="top">
      <div class="wrap">
        <p class="logo">Sirope.<span>Beta</span></p>
        <div class="text">
          <h1>A distraction-free UI for reading your feeds.</h1>
          <h2>Sirope is a free web based UI for people who enjoy real reading.</h2>
          <a href="/login" class="bigButton">Sign in with your Google account</a>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="wrap">
        <ul>
          <li class="first">
          <h3>Syncronized w/ Google Reader</h3>
          <p>Sirope doesn’t store any feed or account data. It just syncs with your Google reader account.</p>
          </li>
          <li>
          <h3>It's 100% web based</h3>
          <p>Now, you just need a good browser to be able to read your feeds in a proper way. Mobile versions of Sirope are also coming.</p>
          </li>
          <li class="last">
          <h3>It's made with care</h3>
          <p>Sirope started as a way to get us more interested on reading our feeds. We hope you like it as much as we do.</p>
          </li>
        </ul>
        <div class="footer">
          <p>Handcrafted with love - <a href="http://twitter.com/siropeapp">Follow us on twitter</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
