<html>

  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Sirope</title>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/fonts.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/style_h.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js" ></script>
    <script type="text/javascript" src="/javascripts/sessvars.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery.hotkeys.js" ></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29800155-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <div class="top">
      <div class="wrap">
        <p class="logo">Sirope.<span>Beta</span></p>
        <div class="text">
          <h1>A free-distraction UI for reading your feeds.</h1>
          <h2>Sirope is a free web based UI for people who enjoy real reading.</h2>
          <a href="/login" class="bigButton">Sign in with your Google account</a>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="wrap">
        <ul>
          <li class="first">
            <div>
              <p class="title">Syncronized w/ Google Reader</p>
              <p>Sirope doesn’t store any feed or account data. It just syncs with your Google reader account.</p>
            </div>
          </li>
          <li>
            <div>
              <p class="title">It's 100% web based</p>
              <p>Now, you just need a good browser to be able to read your feeds in a proper way. Mobile versions of freeder are also coming.</p>
            </div>
          </li>
          <li class="last">
            <div>
              <p class="title">It's made with care</p>
              <p>Sirope started as a way to get me more interested on reading my feeds every morning. I hope you like it as much as I do.</p>
            </div>
          </li>
        </ul>
        <div class="footer">
            <p>Handcrafted with love - <a href="http://twitter.com/siropeapp">Follow us on twitter</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
