
<html>

  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Freeder article example</title>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/jquery.jscrollpane.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery.truncate.min.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery.mousewheel.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery.jscrollpane.min.js" ></script>
    <script type="text/javascript" src="/javascripts/spin.min.js" ></script>
    <script type="text/javascript" src="/javascripts/postcleaner.js" ></script>
    <script type="text/javascript" src="/javascripts/sessvars.js" ></script>
    <script type="text/javascript" src="/javascripts/freeder.js" ></script>
    <script type="text/javascript" src="/javascripts/leftColumn.js" ></script>
    <script type="text/javascript" src="/javascripts/header.js" ></script>
  </head>

  <body>
    <div class="header">
      <p>FREEDER <span></span></p>
      <div id="minispinner"></div>
    </div>
    <div class="article">
      <div class="title">
        <h1>Why the nerds are so unpopular?</h1>
        <h2>Published in <a href="#">todo</a> 2 days ago</h2>
      </div>
      <div class="menu">
        <a class="skip" href="#">Mark and skip</a>
      </div>
      <div class="content">
        <!--Artcile content-->
      </div>
      <div class="menu">
        <a class="next" href="#">Next article</a>
        <ul class="shareButtons">
          <li><a href="#" class="web">&nbsp;</a></li>
          <li><a href="#" class="facebook">&nbsp;</a></li>
          <li><a href="#" class="twitter">&nbsp;</a></li>
        </ul>
      </div>
    </div>
    <div class="sources_area"></div>
    <div class="sources">
      <div class="wrap">
        <div class="header">
          <h3>SOURCES</h3>
        </div>
        <ul>
        </ul>
      </div>
    </div>
    <div id="spinner"></div>
    <div class="noUnread">
      <p class="title">No more unread items from this source.</p>
      <p>It’s time to select a different source or <a href="#" onClick="setFeed(currentSource,'f');">load already read items</a></p>
    </div>
  </body>

</html>