<html>

  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Freeder article example</title>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/style_h.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js" ></script>
    <script type="text/javascript" src="/javascripts/sessvars.js" ></script>
    <script type="text/javascript" src="/javascripts/modalLogin.js" ></script>
  </head>

  <body>
    <div class="top">
      <div class="wrap">
        <p class="logo">Freeder.<span>Beta</span></p>
        <div class="text">
          <h1>A free-distraction UI for reading your feeds.</h1>
          <h2>Freeder is a free web based UI for people who enjoy real reading.</h2>
          <a href="#" class="bigButton">Sign in with your Google account</a>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="wrap">
        <ul>
          <li class="first">
            <div>
              <p class="title">Syncronized w/ Google Reader</p>
              <p>Freeder doesn’t store any feed or account data. It just syncs with your Google reader account.</p>
            </div>
          </li>
          <li>
            <div>
              <p class="title">It's 100% web based</p>
              <p>Now, you just need a good browser to be able to read your feeds in a proper way. Mobile versions of freeder are also coming.</p>
            </div>
          </li>
          <li class="last">
            <div>
              <p class="title">It's made with care</p>
              <p>Freeder started as a way to get me more interested on reading my feeds every morning. I hope you like it as much as I do.</p>
            </div>
          </li>
        </ul>
        <div class="footer">
            <p>Handcrafted by <a href="http://twitter.com/saleiva">@saleiva</a> - <a href="http://twitter.com/saleiva">Follow this</a></p>
        </div>
      </div>
    </div>
  </body>

</html>